.advantages {
  background: @light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header-list {
  padding: 0;
  background: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 22px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages__header-list {
    padding-bottom: 50px;

  }
}

.advantages_wrapper {
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;
  display: flex;
  flex-direction: column;

}

@media (min-width: @tablet-width) {
  .advantages_wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


.advantages_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-top: 81px;

}

@media (min-width: @tablet-width) {
  .advantages_items {
    order: 1;
    align-items: flex-start;
    padding-top: 0;

  }
}

@media (min-width: @desktop-width) {
  .advantages_items {
    order: 1;
    align-items: flex-start;
    padding-top: 0;
    flex-direction: row;

  }

  .advantages_item--moody::before {
    background: url("../../img/iphone-screen-1-desktop@1x.png") no-repeat;
    content: "";
    display: block;
    height: 300px;
  }

  .advantages_item--world::before {
    background: url("../../img/iphone-screen-2-desktop@1x.png") no-repeat;
    content: "";
    display: block;
    height: 300px;
  }

  .advantages_item--friends::before {
    background: url("../../img/iphone-screen-3-desktop@1x.png") no-repeat;
    content: "";
    display: block;
    height: 300px;
  }

}

.advantages__header-item {

  font-size: 24px;
  width: 220px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  .font-light();
  color: @black;
}

@media (min-width: @tablet-width) {
  .advantages__header-item {
    width: 585px;
    font-size: 40px;

  }
}


@media (min-width: @desktop-width) {
  .advantages__header-item:nth-child(1) {
    width: 800px;
    font-size: 50px;
  }

  .advantages__header-item:nth-child(2) {
    width: 700px;
    font-size: 50px;
  }



}

.advantages_item-header {
  .font-bold();
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 18px;

}

@media (min-width: @tablet-width) {
  .advantages_item-header {
    text-align: left;

  }
}

@media (min-width: @desktop-width) {
  .advantages_item-header {
    text-align: center;
    font-size: 30px;
    width: 300px;
    padding: 0;
    margin-top: 60px;
  }
}


.advantages_item-content {
  .font-light();
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 14px;
  width: 255px;
}

@media (min-width: @tablet-width) {
  .advantages_item-content {
    font-size: 14px;
    text-align: left;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .advantages_item-content {
    text-align: center;
    font-size: 18px;
  }
}

.advantages_picture {
  width: 100%;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 0%;
  height: 280px;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .advantages_picture {
    width: 268px;
    order: -1;
    background: url("../../img/iphone-screen-3-tablet@1x.png") no-repeat 0% 0%;
    height: 480px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 10px;

  }
}

@media (min-width: @desktop-width) {
  .advantages_picture {
    display: none;
  }
}
