.advantages {
  background: @light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header-list {
  padding: 0;
  background: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  margin: 0;
}

.advantages_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-top: 81px;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;
}

.advantages__header-item {

  font-size: 24px;
  width: 220px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
  padding: 0;
  font-family: @font-family--light;
  font-weight: 300;
  color: @black;
}

.advantages_item-header {
  .font-bold();
  margin: 10px 0 10px 0;
  padding: 0;
  font-size: 18px;
}

.advantages_item-content {
  .font-light();
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 14px;
  width: 252px;
}

.advantages_picture {
  width: 100%;
}

.advantages_pictur-link {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
