.advantages {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header-item {

  font-size: 24px;
  width: 220px;
  margin-top: 20px;
  text-align: center;
  list-style-type: none;
}

.advantages_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding-top: 81px;
  background-color: #f2f2f2;
  background-image: url("./../img/bg-triangle-white.svg");
  background-size: 101% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.advantages_item-header {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.advantages_item-content {
  margin: 0;
  padding: 0;
}
