.bright-range {
  position: relative;
  width: 280px;
  box-sizing: border-box;
  margin: 6px auto 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.bright-range__bar {
  height: 2px;
  background-color: @black;
  width: 100%;
}

.bright-range__toggle {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -6px;
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  left: 150px;
}
