.bright-range {
  position: relative;
  min-width: 280px;

  box-sizing: border-box;
  margin: 6px auto 20px;
  padding-left: 20px;
  padding-right: 20px;

  margin-top: 50px;

  &--separat {
    min-width: 250px;
    width: 100%;
    display: none;
    margin-top: 20px;

  }

  @media (min-width: @tablet-width) {
    &--separat {
      display: block;
    }

    &--common {
      display: none;
    }
  }
}

.bright-range::after {
  height: 2px;
  background-color: @black;
  width: 100%;
  display: block;
  content: "";
}

.bright-range::before {
  display: block;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: -6px;
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  left: 150px;
  content: "";
}
