.checkbox[type="checkbox"]:checked,
.checkbox[type="checkbox"]:not(:checked),
.checkbox[type="radio"]:checked,
.checkbox[type="radio"]:not(:checked) {
  position: absolute;
}

.checkbox[type="checkbox"]:checked+label,
.checkbox[type="checkbox"]:not(:checked)+label,
.checkbox[type="radio"]:checked+label,
.checkbox[type="radio"]:not(:checked)+label {
  position: relative;

  display: inline-block;
  padding-left: 65px;

  line-height: 30px;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 55px;
  }
}

.checkbox[type="checkbox"]:checked+label::before,
.checkbox[type="checkbox"]:not(:checked)+label::before,
.checkbox[type="radio"]:checked+label::before,
.checkbox[type="radio"]:not(:checked)+label::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 36px;
  height: 36px;

  background-color: @white;
  border: 1px solid @black-trans;

  content: "";
}

.checkbox[type="checkbox"]:hover+label::before,
.checkbox[type="radio"]:hover+label::before {
  border: 1px solid @black;
}

.checkbox[type="checkbox"]:disabled+label::before,
.checkbox[type="radio"]:disabled+label::before {
  border: 1px solid @gray;
  background-color: @light-gray;
}

.checkbox[type="checkbox"]:active+label::before,
.checkbox[type="radio"]:active+label::before {
  border: 1px solid @pink;
}


.checkbox[type="checkbox"]:checked+label::before,
.checkbox[type="checkbox"]:not(:checked)+label::before {
  border-radius: 2px;
}

.checkbox[type="radio"]:checked+label::before,
.checkbox[type="radio"]:not(:checked)+label::before {
  border-radius: 100%;
}

.checkbox[type="checkbox"]:checked+label::after,
.checkbox[type="checkbox"]:not(:checked)+label::after,
.checkbox[type="radio"]:checked+label::after,
.checkbox[type="radio"]:not(:checked)+label::after {
  position: absolute;

  content: "";
}

.checkbox[type="checkbox"]:checked+label::after,
.checkbox[type="checkbox"]:not(:checked)+label::after {
  top: 10px;
  left: 10px;

  width: 36px;
  height: 36px;

  background: url("../img/icon-yes.svg") no-repeat;
}

.checkbox[type="radio"]:checked+label::after,
.checkbox[type="radio"]:not(:checked)+label::after {
  top: 11px;
  left: 11px;

  width: 15px;
  height: 15px;

  background-color: @pink;
  border-radius: 100%;
}

.checkbox[type="checkbox"]:not(:checked)+label::after,
.checkbox[type="radio"]:not(:checked)+label::after {
  opacity: 0;
}

.checkbox[type="checkbox"]:checked+label::after,
.checkbox[type="radio"]:checked+label::after {
  opacity: 1;
}
