.competition {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.competition__dialog {
  position: fixed;
  width: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;
  background-color: @white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  bottom: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

.dialog__header {

  .font-bold();

  margin-top: 46px;
  font-size: 18px;
}

.dialog__content {

  .font-main();
  font-size: 14px;
}

.dialog__button {
  margin-bottom: 52px;
}

.competition__header {
  .font-main();
  font-size: 14px;
  width: 281px;
  line-height: 30px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    width: 490px;
    font-size: 18px;
    padding-top: 75px;
    padding-bottom: 0;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 75px;
    width: 752px;
    padding-bottom: 20px;
  }
}

.competition__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 955px;
  align-items: space-between;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }


}


.competition__full-name {
  padding-top: 15px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    order: -5;
    margin-left: 20px;
    padding-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    width: 450px;
    align-self: flex-start;
    padding-top: 6px;
    margin-left: 0;
  }
}

.competition__application {
  background-color: @light-gray;
  border: none;
  margin-top: 7px;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    order: -4;
    padding-top: 35px;
    padding-left: 10px;
    margin-bottom: 8px;

  }

  @media (min-width: @desktop-width) {
    width: 410px;
    align-self: flex-end;
  }
}

.competition__progress {
  background-color: @light-gray;
  margin-top: 0;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    width: auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 170px;
    margin-left: 5px;
    padding-top: 25px;
    padding-left: 30px;

  }
}

.competition__progress-header {

  padding-right: 50px;

}

.competition__progress.fields {
  @media (min-width: @desktop-width) {
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

.competition__emotion {
  padding-top: 22px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    justify-content: stretch;
    margin-left: 5px;
    padding-bottom: 0;
  }
}


.competition__contacts {
  padding-top: 0;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    order: -3;
    background-color: @white;
    flex-grow: 1;
    border: 2px solid @gray;
    padding-left: 60px;
    position: relative;

  }

  @media (min-width: @desktop-width) {
    width: 100%;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-around;
  }
}

.competition__contacts.fields {
  @media (min-width: @desktop-width) {
    width: 840px;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;

  }
}

.contact-info.fields__item {
  @media (min-width: @desktop-width) {
    width: 370px;
    margin-right: 15px;


  }
}

.competition__end {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.competition__form-submit {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 5px;
  }
}

.competition__contacts-header {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @tablet-width) {
    align-self: center;
  }
}

.competition__field {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
  }
}

.competition__emotion-field {

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 40px;
    padding-right: 55px;
    padding-bottom: 0;
    margin-bottom: 45px;
  }
}

.competition__emotion-header {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    top: -10px;
  }
}


.competition__submit {
  padding: 14px 44px;
  font-size: 18px;
  font-weight: 700;
  color: @white;
  border: 3px solid @green;
  border-radius: 3px;
  background-color: @green;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 62px;

  &:hover {
    background-color: @dark-green;
  }

  &:active {
    background-color: @dark-green;
    color: @green;
  }


  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }

}

.competition__requared-fields {
  .font-main();
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
  }
}

.competition__star {
  color: @pink;
}
