.competition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition__header {
  .font-main();
  font-size: 18px;
  width: 271px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    width: 490px;
    font-size: 18px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.competition__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.competition__full-name {
  @media (min-width: @tablet-width) {
    order: -5;
  }
}

.competition__progress {
  background-color: @light-gray;
}

.competition__application {
  background-color: @light-gray;
  border: none;

  @media (min-width: @tablet-width) {
    order: -4;
  }
}


.competition__contacts {
  @media (min-width: @tablet-width) {
    order: -3;
    background-color: @white;
    width: auto;
    border: 2px solid @gray;
    padding-left: 60px;
    position: relative;
  }
}

.competition__contacts-header {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.competition__field {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }
}

.competition__emotion-header {
  @media (min-width: @tablet-width) {
    top: -20px;
  }
}


.competition__submit {
  padding: 14px 44px;
  font-size: 18px;
  font-weight: 700;
  color: @white;
  border: 3px solid @green;
  border-radius: 3px;
  background-color: @green;
  width: 276px;
  display: block;
}

.competition__requared-fields {
  .font-main();
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.competition__star {
  color: @pink;
}
