.competition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition__header {
  .font-main();
  font-size: 18px;
  width: 271px;
  line-height: 30px;
}

.competition__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.competition-progress {
  background-color: @light-gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.competition-application {
  background-color: @light-gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.competition__submit {
  padding: 14px 44px;
  font-size: 18px;
  font-weight: 700;
  color: @white;
  border: 3px solid @green;
  border-radius: 3px;
  background-color: @green;
  width: 276px;
  display: block;
}

.competition__requared-fields {
  .font-main();
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.competition__star {
  color: @pink;
}
