@media (min-width: @tablet-width) {
  .contact-info {
    position: relative;

    margin-top: 40px;
    margin-right: 60px;
    margin-bottom: 0;

    align-items: flex-start;
    flex-direction: column;

    &--email {
      margin-top: 30px;
      padding-bottom: 0;
    }
  }

  .contact-info__label {
    margin-top: 10px;
    margin-left: 18px;

    order: 1;
  }

  .contact-info__value {
    margin-top: 1px;
    margin-right: 60px;
    margin-left: 60px;
  }

  .contact-info::before {
    position: absolute;
    right: 0;
    z-index: 1;

    width: 60px;
    height: 60px;

    background-color: @light-gray;

    content: "";
  }

  .contact-info::after {
    position: absolute;
    top: 20px;
    right: 18px;
    z-index: 2;

    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;

    background: url("../../img/icon-phone.svg");

    content: "";
  }

  .contact-info--email::after {
    background: url("../../img/icon-mail.svg") no-repeat;

  }
}

@media (min-width: @desktop-width) {
  .contact-info {


    &--email {
      margin-top: 40px;
    }
  }
}
