.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;


  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 0;
    width: 140px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
    margin-right: 0;
    width: 140px;
  }
}


.copyright__text {
  .font-light();
  font-size: 14px;

  @media (min-width: @tablet-width) {
    align-self: flex-start;
    font-size: 14px;
    margin-right: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  width: 27px;
  height: 34px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;

  }

}

.copyright__svg {
  fill: @pink;

  &:hover {
    fill: @black;
  }

  &:active {
    fill: @black-trans;
  }
}
