.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;


  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    width: 140px;
  }
}


.copyright__text {
  .font-light();
  font-size: 14px;
}

.copyright__link {
  width: 27px;
  height: 34px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
  margin-left: 10px;
}
