.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @black;
  padding-top: 16px;
}

.download__buttons-header {
  padding: 14px 40px 17px 40px;
  color: @white;
  text-decoration: none;
  border: 3px solid @white;
  border-radius: 30px;
  margin-top: 15px;
  .font-bold();
}

.download__footer {
  color: @white;
  width: 280px;
  height: 37px;
  font-size: 14px;
  text-align: center;
  .font-light();
  margin-top: 0;
  margin-bottom: 55px;
}
