.feedbacks {
  list-style-type: none;
}

.feedbacks__wrapper {
  margin-top: 30px;
}

.feedbacks__item {
  text-align: center;
  width: 276px;
  .font-main();
  font-size: 14px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 617px;
    font-size: 18px;
    line-height: 30px;
  }
}

.feedbacks__description {
  margin-top: 5px;
}

.feedbacks__author-name {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 1;
    font-size: 14px;
  }
}


.feedbacks__author {
  .font-bold();

  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
