.fields {
  padding-bottom: 41px;
  padding-top: 41px;
}

.fields__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 276px;
  padding: 0;
  margin: 0 22px 0;
}

.fields__label {
  margin-left: 5px;
  color: @pink;
  .font-main();
}

.fields__value {
  width: 100%;
  height: 59px;
  align-self: center;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @black-trans;
  border-radius: 2px;
  padding: 14px 22px 15px;
  margin-bottom: 16px;

  &--textarea {
    height: 197px;
  }

  &::placeholder {
    color: @black;
    .font-main();
    text-align: left;
  }

  &--textarea::placeholder {
    color: @black;
    .font-main();
  }
}

.fields__header {
  .font-main();
  color: @pink;
  font-size: 18px;
  width: 250px;
  line-height: 18px;
}

.fields__item-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 276px;
  margin-top: 45px;
}

.fields__checkbox {
  width: 22px;
  height: 22px;
  border: 1px solid @black-trans;
  padding: 6px;
  margin-right: 5px;
  background-color: @white;

  &--yes:after {
    background: url("../img/icon-yes.svg") no-repeat 50% 50%;
    width: 22px;
    height: 22px;
    display: block;
    content: "";
  }
}

.fields__checkbox-img {
  width: 22px;
  height: 22px;
  display: block;

  &--yes {
    background: url("../img/icon-yes.svg") no-repeat 50% 50%;
  }
}

.fields__checkbox-input {
  display: none;
}

.fields__checkbox-label {
  .font-main();
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}
