.fields {
  padding-bottom: 41px;
  padding-top: 41px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;

    align-self: stretch;
    justify-content: center;
    align-items: stretch;

    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.fields__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 276px;
  padding: 0;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: auto;

    margin-bottom: 56px;
    flex-direction: row;
    align-items: center;
  }
}

.fields__label {
  margin-left: 5px;
  color: @pink;
  .font-main();

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}

.fields__value {
  width: 100%;
  height: 59px;
  align-self: center;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @black-trans;
  border-radius: 2px;
  padding: 14px 22px 15px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }


  &--textarea {
    height: 197px;
  }

  &::placeholder {
    color: @black;
    .font-main();
    text-align: left;
  }

  &--textarea::placeholder {
    color: @black;
    .font-main();
  }
}

.fields__header {
  .font-main();
  color: @pink;
  font-size: 18px;
  width: 250px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.fields__item-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 276px;
  margin-top: 45px;
}
