.gallery {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.gallery__textblock {
  margin-top: 30px;
  margin-bottom: 35px;

  line-height: 30px;

  @media (min-width: @tablet-width) {
    width: 435;
    margin-top: 70px;
    margin-bottom: 55px;

    line-height: 30px;

    .font-main();
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-top: 68px;
    margin-bottom: 67px;
    .font-main();
  }
}
