.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__textblock {
  @media (min-width: @tablet-width) {
    margin-top: 82px;
    margin-bottom: 82px;
    width: 435;

    .font-main();

    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    .font-main();
  }
}
