.header-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 100%;
  object-fit: contain;
  background-position: 0 30%;

  &--text {
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.header-box__content {
  height: 285px;
  width: 260px;
  margin-right: 68px;
  margin-top: 0;
  padding: 0;
}

.header-box__text {
  color: @white;
  font-size: 24px;
  width: 221px;
  text-align: center;
  height: 66px;
  .font-light();
}
