.header-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./../../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: 100%;
  object-fit: contain;
}

.header-box__content {
  height: 340px;
  width: 314px;
  margin-right: 60px;
  padding: 0;
}

.header-box__text {
  color: white;
  font-size: 24px;
  width: 221px;
  text-align: center;
  height: 48px;
}
