.header-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--text {
    height: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      height: auto;
    }
  }
}


.header-box__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &::before {
    content: "";
    background: url("../img/iphone-hand-mobile@1x.png");
    height: 285px;
    width: 260px;
    margin-right: 68px;
    margin-top: 0;
    padding: 0;
    order: 1;
  }

  @media (min-width: @tablet-width) {

    align-items: flex-start;
    padding-top: 68px;
    height: 550px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 35% 100%;

    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 100% 100%;
    max-width: 1200px;
    padding-top: 80px;
    height: 660px;
  }
}

.header-box__content {
  background-color: @black;
  width: 100%;

  @media (min-width: @tablet-width) {
    background: transparent;
    width: 300px;
    margin-left: 20px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    background: transparent;
    width: 340px;
    margin-left: 110px;
    margin-bottom: 120px;
    margin-top: 75px;
  }
}

.header-box__text {
  color: @white;
  font-size: 24px;
  width: 251px;
  text-align: center;
  height: 66px;

  .font-light();

  &--tagline {
    padding-top: 5px;
  }
}

@media (min-width: @tablet-width) {
  .header-box__text {
    color: @white;
    font-size: 40px;
    height: 157px;

    .font-light();

    &--tagline {
      width: 350px;
      padding-top: 18px;
      padding-bottom: 70px;
      font-size: 50px;
    }

    &--wide {
      width: 480px;
    }
  }

  .header-box__text-wrapper {
    margin-left: 55px;
    margin-top: 0;
    line-height: 50px;
    height: 175px;
    width: 230px;
    margin-bottom: 0;
    padding-top: 20px;
  }
}

@media (min-width: @desktop-width) {
  .header-box__text {
    color: @white;
    font-size: 50px;
    width: 231px;
    height: 157px;
    margin-left: 160px;
    .font-light();

    line-height: 60px;

    &--tagline {
      width: 500px;
      margin: 0;
      padding-top: 55px;
    }

    &--wide {
      width: 780px;
      padding-top: 55px;
      padding-bottom: 70px;
    }
  }
}
