
.main-nav__toogle {
  border: none;
  outline: none;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 33px;
  width: 50px;
  background: url("../../img/icon-menu-cross.svg") no-repeat 100%;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    top: 30px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__toogle--burger {
  background: url("../../img/icon-menu-burger.svg") no-repeat 100%;
}
