.os-list {
  display: flex;
  padding: 0;

  align-content: center;
  align-items: stretch;
  justify-content: space-between;

  .ul-clear-style();
}

.os-list__item {
  margin: 5px;
}

.os-list__link {
  display: flex;
  width: 60px;
  height: 70px;

  color: @white;

  align-items: center;
  justify-content: center;

  &--ios {
    height: 60px;

    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: 80%;
  }

  &--android {
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70%;
  }

  &--windows {
    background-image: url("../../img/logo-microsoft.svg");
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: 70%;
  }
}
