.os-list {
  display: flex;
  align-items: stretch;
  padding: 0;
  align-content: center;
  justify-content: space-between;

  .ul-clear-style();
}

.os-list__item {
  margin: 5px;
}

.os-list__link {
  display: flex;
  height: 70px;
  width: 60px;
  color: @white;
  align-items: center;
  justify-content: center;

}
