.page-footer {

  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.page-footer--index {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }
}

.page-footer__header {
  @media (min-width: @tablet-width) {
    align-self: flex-start;
    padding-top: 25px;
  }
}
