.photo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;

  width: 100%;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
  }
}

.photo-editor {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;

}

.photo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;




  @media (min-width: @tablet-width) {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: @desktop-big-width) {

    margin-left: 0px;
    margin-right: 0px;
    
    &:nth-child(3n+2) {
      margin-left: 110px;
    }

    &:nth-child(3n+4) {
      margin-right: 110px;
    }
  }

  &--panorama {
    width: 100%;
    margin: 0;
  }
}

.photo__link {

  display: block;
  min-height: 150px;
  width: 100%;
  position: relative;
}

@media (min-width: @tablet-width) {
  .photo__link:not(.photo__link--panorama) {
    height: 300px;
  }
}

@media (min-width: @desktop-width) {
  .photo__link:not(.photo__link--panorama) {
    height: 400px;
  }
}

.photo__img {
  width: 100%;
  display: block;
}

.photo__master {
  margin-right: auto;
  margin-left: auto;


  &--panorama {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.photo__details {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  background-color: @light-gray;
  padding: 10px;

  @media (min-width: @tablet-width) {

    height: 155px;
    margin-top: 0;
    width: 280px;

    &--panorama {
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    &--panorama {
      width: 90%;
      margin-left: 20px;
      margin-right: 20px;
      max-width: 940px;
    }
  }
}

.photo__like {
  margin-top: 10px;
  font-size: 13px;
  color: @pink;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.photo__time {
  text-transform: uppercase;
}

.photo__heart {
  display: block;
  background: url("../img/icon-heart.svg") no-repeat;
  width: 25px;
  height: 15px;
}

.photo__comment {
  margin: 0;
}

.photo__label {
  position: absolute;

  right: 20px;
  top: 0;
  color: @white;
  text-transform: uppercase;
  background-color: @pink;

  .font-bold();
  font-size: 12px;
  height: 36px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    top: 60px;
  }
}
