.photo-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.photo-editor__header {
  .font-main();

  font-size: 14px;
  width: 253px;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    width: 518px;
    font-size: 18px;
    margin-top: 15px;
  }
}

.photo-editor__work-panel {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: @light-gray;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {

    width: auto;
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.photo-editor__work-area {
  padding-top: 20px;
  width: 280px;
  height: 374px;

  @media (min-width: @tablet-width) {
    width: 280px;
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }
}


.photo-editor__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid @black-trans;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.photo-editor__button {
  color: @pink;
  border: 3px solid @pink;
  border-radius: 30px;
  background-color: transparent;
  height: 53px;
  width: 280px;
  margin-top: 12px;
  .font-bold();
  font-size: 18px;

  @media (min-width: @desktop-width) {
    width: 185px;
    height: 55px;
    margin: 20px;

    &--cancel {
      border-color: @gray;
      color: @gray;
    }
  }
}

.bright-range__input {
  display: none;
}
