.profit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 900px;
}

.profit__logo {

  background: url("../img/icon-timer.svg") no-repeat 50% 0;
  background-color: @light-gray;
  width: 350px;
  height: 350px;
  display: flex;
  position: relative;
}

.profit__logo::after {
  content: "";

  position: absolute;
  border: 20px solid @pink;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 22%;
  left: 12%;
}

.profit__logo::before {
  content: "24";
  position: absolute;
  color: @pink;
  font-size: 120px;
  .font-bold();
  top: 35%;
  left: 30%;
}

.profit__content {
  margin-left: 80px;
  width: 550px;
}

.profit__header {
  .font-bold();
  font-size: 30px;
  text-align: left;
}

.profit__text {
  .font-main();
  font-size: 18px;
  text-align: left;
  line-height: 30px;

  &--link {
    color: @pink;
  }
}

@media (max-width: @desktop-width) {
  .profit {
    display: none;
  }
}
