.rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding-top: 87px;
  background: @light-gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
  }
}


.rates__items-list {
  min-width: 840px;

  @media (min-width: @tablet-width) {
    min-width: 200px;
  }

  @media (min-width: @desktop-width) {
    min-width: 840px;
  }

  box-sizing: border-box;
  border-collapse: collapse;
}

.rates__items-head {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background-color: @black;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.rates__name {
  .font-bold();
  font-size: 18px;


  @media (min-width: @tablet-width),
  (max-width: @desktop-width) {
    font-size: 16px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.rates__cost {
  .font-light();
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    margin-top: 0;
  }
}

.rates__items-body {
  background-color: @white;
}

.rates__access-field {
  border-left-color: @white;
}

.rates__value {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 55px;

  @media (min-width: @tablet-width) {
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
  }
}

.rates__access-name {
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.rates__function {

  border-left: 3px solid @light-gray;
  width: 276px;
  height: 40px;

  &--name {
    display: none;
  }


  @media (min-width: @tablet-width) {
    width: 154px;
    height: 45px;

    &--name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    height: 60px;
  }
}

.rates__tag {
  position: absolute;
  left: 0;
  display: block;
}

.rates__header {
  border: 3px solid @light-gray;
  height: 94px;

  &--name {
    display: none;
  }

  @media (min-width: @tablet-width) {
    height: 75px;

    &--name {
      background-color: @light-gray;
      display: block;
      border: 1px solid @light-gray;
    }
  }

  @media (min-width: @desktop-width) {
    height: 94px;
  }

  &--tag {
    position: relative;
    background: url("../img/bg-hit-tablet.svg") no-repeat;
    padding-top: 0;
  }
}

.rates__tag::before {
  position: absolute;
  content: "хит";
  height: 10px;
  width: 28px;
  top: 20px;
  left: 9px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @pink;
  transform: rotate(-45deg);
  z-index: 10;
  top: 5px;

  @media (min-width: @tablet-width) {
    .font-semibold();
    top: -5px;
    left: 5px;
  }


  .font-bold();
}

.rates__items-fields-tr {
  border: 3px solid @light-gray;
}

.rates__access-value {
  width: 45px;
  height: 30px;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    height: 26px;
  }

  &--yes {
    background: url("../img/icon-green-yes.svg") no-repeat;
  }

  &--no {
    background: url("../img/icon-no.svg") no-repeat;
  }
}

.rates__wrapper {

  overflow-x: scroll;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rates__toggles {
  margin-top: 20px;
}
