.rates {
  display: flex;
  margin: 0;
  margin-top: 0;
  padding-top: 85px;

  text-align: center;

  background: @light-gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;

  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 85px;
    padding-bottom: 50px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
    padding-bottom: 45px;

    background-position: 50% 0%;
  }
}


.rates__items-list {
  box-sizing: border-box;
  min-width: 840px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    min-width: 200px;
  }

  @media (min-width: @desktop-width) {
    width: 950px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.rates__items-head {
  font-size: 18px;
  line-height: 30px;
  color: @white;

  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.rates__name {
  font-size: 18px;

  .font-bold();


  @media (min-width: @tablet-width), (max-width: @desktop-width) {
    margin-bottom: 0;

    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    font-size: 18px;
  }
}

.rates__cost {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 24px;

  .font-light();

  @media (min-width: @tablet-width) {
    margin-top: 0;

    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;

    font-size: 24px;
  }
}

.rates__items-body {
  background-color: @white;
}

.rates__access-field {
  border-left-color: @white;
}

.rates__value {
  display: flex;
  height: 55px;
  margin: 0;
  padding: 0;

  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    height: 42px;

    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
  }
}

.rates__access-name {
  margin-left: 20px;

  font-size: 14px;
  text-align: left;

  flex-grow: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.rates__function {
  width: 276px;
  height: 40px;

  border-left: 3px solid @light-gray;

  &--name {
    display: none;
  }


  @media (min-width: @tablet-width) {
    width: 150px;
    height: 35px;

    &--name {
      display: flex;
      width: 135px;
      padding-left: 15px;

      font-size: 14px;

      align-items: center;
      justify-content: left;
    }
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    height: 57px;

    &--name {
      width: 210px;
      padding-left: 25px;

      font-size: 18px;
    }
  }
}


.rates__header {
  height: 94px;

  background-color: @black;
  border: 3px solid @light-gray;

  &--name {
    display: none;
  }

  @media (min-width: @tablet-width) {
    height: 77px;

    &--name {
      display: block;

      background-color: @light-gray;
      border: 1px solid @light-gray;
    }
  }

  @media (min-width: @desktop-width) {
    height: 94px;
  }
}

.rates__tag-wapper {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 15px;

  background-image: url("../img/bg-hit-tablet.svg");
  background-repeat: no-repeat;


  &::before {
    position: absolute;
    top: 20px;
    left: 3px;
    z-index: 10;

    width: 28px;
    height: 10px;

    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: @white;

    background-color: @pink;

    transform: rotate(-45deg);

    content: "хит";
    vertical-align: center;
    text-transform: uppercase;

    .font-bold();


    @media (min-width: @tablet-width) {
      top: 10px;
      left: 0;
      .font-semibold();
    }

    @media (min-width: @desktop-width) {
      top: 18px;
      left: 3px;


      .font-semibold();
    }
  }
}

.rates__items-fields-tr {
  border: 3px solid @light-gray;
}

.rates__access-value {
  width: 45px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    height: 26px;
    margin-top: 0;
    margin-left: 20px;
  }

  &--yes {

    background-image: url("../img/icon-green-yes.svg");
    background-repeat: no-repeat;
    background-size: 60%;

    @media (min-width: @tablet-width) {
      width: 35px;
      height: 35px;
      margin-top: 5px;
      margin-left: 5px;

      background: url("../img/icon-green-yes.svg") no-repeat;
      background-size: 100%;
    }
  }

  &--no {
    background: url("../img/icon-no.svg") no-repeat;
    margin-top: 5px;
  }
}


.rates__wrapper {
  display: flex;
  width: 100%;

  overflow-x: scroll;
  align-items: center;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 243px;
  }

  @media (min-width: @desktop-width) {
    min-height: 375px;
    margin-left: 0;
  }
}

.rates__toggles {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
