.site-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: @black;
  min-height: 62px;
  .ul-clear-style();
}

@media (min-width: @desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    height: 110px;
    margin-left: 170px;
    margin-right: 10px;
  }
}

.site-list__link {
  color: @white;
  flex-direction: column;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    margin: auto;
    margin-bottom: 25px;
    text-transform: none;
  }

  &:hover {
    color: @pink;
  }

  &:active {
    color: @black-link;
  }

  @media (min-width: @desktop-width) {
    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        height: 3px;

        background: @white;
      }
    }
  }
}


.site-list__item {
  align-items: center;
  justify-content: center;
  height: 62px;
  text-align: center;
  border-bottom: 1px solid @black-border-bottom;
  border-top: 1px solid @black-border-top;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    border-bottom: none;
    border-top: none;
  }
}
