.site-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: @black;
  min-height: 62px;
  margin: 0;
  padding: 0;
}


.site-list__link {
  color: @white;
  flex-direction: column;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
}

.site-list__item {
  align-items: center;
  justify-content: center;
  height: 63px;
  text-align: center;
  border-bottom: 1px solid @black-border-bottom;
  border-top: 1px solid @black-border-top;
  text-decoration: none;

  &--header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-left: 20px;
    margin-right: 20px;
  }
}
