.site-list {
  display: flex;

  background-color: @black;

  align-items: stretch;
  flex-direction: column;
  min-height: 62px;

  .ul-clear-style();
}

@media (min-width: @desktop-width) {
  .site-list {
    height: 110px;
    margin-right: 10px;
    margin-left: 170px;

    background-color: transparent;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__link {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 18px;
  font-weight: 700px;
  line-height: 25px;
  color: @white;

  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    margin: auto;
    margin-bottom: 25px;

    text-transform: none;
  }

  &:hover {
    color: @pink;
  }

  &:active {
    color: @black-link;
  }

  @media (min-width: @desktop-width) {
    &--active {
      position: relative;

      &::after {
        position: absolute;
        right: -5%;
        top: 88%;
        left: 0;

        height: 2px;

        background: @white;

        content: "";
      }
    }
  }
}


.site-list__item {
  height: 62px;

  text-align: center;

  border-top: 1px solid @black-border-top;
  border-bottom: 1px solid @black-border-bottom;

  align-items: center;
  justify-content: center;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    border-top: none;
    border-bottom: none;
  }
}
