.slider__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.slider__toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 59px;
  min-height: 12px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 45px;
}

.slider__toggle {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: @black-trans;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  &--active {
    opacity: 1;
    background-color: @white;
    box-shadow: 0 0 0 2px @black;
  }
}
