
.social__list {
  display: flex;
  width: 205px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 20px;

  justify-content: space-around;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-top: 17px;
    padding-right: 10px;
    width: 190px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }
}

.social__link {
  display: flex;
  width: 46px;
  height: 46px;

  border: 3px solid @light-gray;
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  &:hover
  {
    border: 3px solid @black;
  }
  &:active
  {
    opacity: 0.3;
  }

}
