.font-light {
  font-family: @font-family--light;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.font-semibold {
  font-family: @font-family--semi;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.font-bold {
  font-family: @font-family--bold;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
}


.font-main {
  font-family: @font-family--main;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
}

.ul-clear-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
