@black:#283645;
@white:white;


@font-family--main: "Open Sans", "Arial", "Helvetica", "Garuda", sans-serif;
@font-family--light: "Open Sans Light",  sans-serif;
@font-family--bold: "Open Sans Bold",  sans-serif;
