@black:#283645;
@black-trans:rgba(40,54,69,0.3);
@white:white;
@light-gray:#f2f2f2;
@pink:#d22856;
@green: #2aab6d;

/* for develop */
@bg-darkgrey: #292929;
@bg-lightgrey: #f8f5f2;
@tablet-width: 768px;
@desktop-width: 1200px;



@filter-gray:invert(19%) sepia(7%) saturate(2125%) hue-rotate(171deg) brightness(99%) contrast(97%);
@filter-pink:invert(24%) sepia(94%) saturate(2008%) hue-rotate(324deg) brightness(85%) contrast(95%);

@black-border-bottom:#000000;
@black-border-top:#485461;

@font-family--main: "Open Sans", "Arial", "Helvetica", "Garuda", sans-serif;
@font-family--light: "Open Sans Light",  sans-serif;
@font-family--bold: "Open Sans Bold",  sans-serif;
