@black: #283645;
@black-trans: rgba(40, 54, 69, 0.3);
@black-desc-trans: rgba(0, 0, 0, 0.3);
@white: white;
@light-gray: #f2f2f2;
@gray: #e5e5e5;
@pink: #d22856;
@green: #2aab6d;
@dark-green: #1c9b5e;
@white-30:rgba(255, 255, 255, 0.3);

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@black-link: rgba(255, 255, 255, 0.3);

/* for develop */
@bg-darkgrey: #292929;
@bg-lightgrey: #f8f5f2;
@tablet-width: 660px;
@desktop-width: 960px;
@desktop-big-width: 1150px;

@black-border-bottom: #000000;
@black-border-top: #485461;

@font-family--main: "Open Sans", "Arial", "Helvetica", "Garuda", sans-serif;
@font-family--semi: "Open Sans Semibold", "Arial", "Helvetica", "Garuda", sans-serif;
@font-family--light: "Open Sans Light", "Helvetica", "Garuda", sans-serif;
@font-family--bold: "Open Sans Bold", "Helvetica", "Garuda", sans-serif;
